@page
@model MajsterChef.Pages.Przepisy.CreateModel

@{
    ViewData["Title"] = "Dodaj przepis";
}

<h1>Dodaj przepis</h1>

<h4>Przepis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Przepis.Nazwa" class="control-label"></label>
                <input asp-for="Przepis.Nazwa" class="form-control" />
                <span asp-validation-for="Przepis.Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przepis.Opis_wykonania" class="control-label"></label>
                <input asp-for="Przepis.Opis_wykonania" class="form-control" />
                <span asp-validation-for="Przepis.Opis_wykonania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przepis.Data_publikacji" class="control-label"></label>
                <input asp-for="Przepis.Data_publikacji" class="form-control" />
                <span asp-validation-for="Przepis.Data_publikacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przepis.Lista_skladnikow" class="control-label"></label>
                <input asp-for="Przepis.Lista_skladnikow" class="form-control" />
                <span asp-validation-for="Przepis.Lista_skladnikow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
